{% extends '@Frontend/layout.html.twig' %}

{% block opengraph %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Políticas de Privacidad | Raloy Lubricantes" />
    <meta property="og:description" content="Políticas de Privacidad" />
    <meta property="og:image" content="{{ asset('assets/images/logo.png') }}" />
{% endblock %}

{% block title %}Políticas de Privacidad | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container content">
        <h2 class="text-center title">AVISO DE PRIVACIDAD</h2>
        <div class="row us">
            <div class="col-sm-12 contact-section">
                <div class="privacy">
                    <p class="tab" style="margin-top: 15px">Fecha de última actualización: 20/01/2017 </p>
                    <p class="tab">En cumplimiento a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (la "Ley") vigente en México, le informamos los términos y condiciones del Aviso de Privacidad de Datos Personales ("Aviso de Privacidad")
                        de RALOY LUBRICANTES, S.A. DE C.V., con domicilio ubicado en AVENIDA DEL CONVENTO NÚMERO 111, COLONIA PARQUE INDUSTRIAL, MUNICIPIO DE SANTIAGO TIANGUISTENCO, ESTADO DE MEXICO, C.P. 52600; así como de sus empresas subsidiarias y/o
                        sus Unidades de Negocio en México. </p>
                    <p>1. ¿Qué información recopilamos? los Datos Personales que El Titular (en adelante El Titular) nos proporcione, mismos que serán identificados dentro de nuestro sistema interno como “Información Confidencial”. </p>
                    <p>Los datos que se recaban son: nombre completo, número telefónico particular o móvil, correo electrónico, domicilio particular, domicilio fiscal, número de registro federal de contribuyente, CURP, lugar y fecha de nacimiento, incluyendo
                        información respecto a un producto o servicio adquirido (orden de compra, ticket de compra, monto, número de serie, fecha de compra) entre otros datos sensibles como: edad, sexo, nacionalidad, nivel de escolaridad, estado civil,
                        cuentas bancarias, referencias personales, historial clínica, afiliación sindical, origen étnico, estado de salud, huella digital, preferencia sexual, referencias laborales, certificados, reconocimientos, número de cédula profesional,
                        nombre de usuario, contraseña. La presente lista de datos personales es de carácter enunciativo más no limitativo. </p>
                    <p>RALOY LUBRICANTES, S.A. DE C.V. puede recabar sus datos en forma presencial, telefónica, correo convencional o electrónico y/o páginas de Internet, incluyendo perfiles en redes sociales. </p>
                    <p>2. ¿Para qué utilizamos su información? Los datos personales que recopilamos los destinamos únicamente a los siguientes propósitos: </p>
                    <ul>
                        <li>Proveer los servicios y/o productos que usted requiera. </li>
                        <li>Informar sobre nuestros productos o servicios, así como novedades, dar seguimiento o actualización de los mismos. </li>
                        <li>Fines estadísticos, investigación de mercado; encuestas de satisfacción. </li>
                        <li>Fines promocionales y/o publicidad en general. </li>
                        <li>Contacto. </li>
                        <li> Cumplimiento de obligaciones contractuales de ley o adicionales a la ley. </li>
                        <li>Referencias comerciales. </li>
                        <li> Evaluación en procesos de reclutamiento de personal. Incluyendo su potencial contratación. </li>
                        <li> Elaboración, Análisis y Evaluación de propuestas y proyectos de negocio. </li>
                        <li>Proceso de Alta de Proveedores o Clientes con las contrataciones respectivas. </li>
                        <li>Integración de expediente crediticio. </li>
                        <li>Ingreso y acceso a nuestro sitio web y demás aplicaciones. </li>
                        <li>Cotizaciones y/o solicitudes. </li>
                        <li>Participación en Licitaciones. </li>
                        <li>Evaluación y eventual otorgamiento de línea de crédito. </li>
                        <li>Gestión de Crédito y Cobranza. </li>
                        <li>Seguimiento de servicio de garantía post-venta. </li>
                        <li>Mantener comunicación relacionada con su negocio o cuenta con nuestra empresa. </li>
                        <li>Para que RALOY LUBRICANTES, S.A. DE C.V. pueda cumplir con sus obligaciones fiscales. </li>
                        <li>Elaboración y formalización de los documentos legales y administrativos que sustentan cada una de las finalidades aquí descritas. </li>
                        <li>Comunicarle sobre cambios a este aviso de privacidad. </li>
                    </ul>
                    <p>3. ¿Con quién compartimos su información? RALOY LUBRICANTES, S.A. DE C.V. podrá contratar a uno o varios terceros como proveedores de servicios seleccionados para manejar y administrar los datos personales que se recaban a través de
                        éste, o de cualquier otro medio distinto, por lo que podría incluso transferirlos a dicho(s) tercero(s) sin un fin comercial, la información proporcionada. De igual manera RALOY LUBRICANTES, S.A. DE C.V. podrá sin fines comerciales,
                        compartir o transmitir sus datos personales con sus empresas subsidiarias o filiales para los mismos fines establecidos en el numeral 2. En ningún caso comercializaremos, venderemos o rentaremos información personal sobre Usted
                        a un tercero sin un consentimiento previo de su parte. </p>
                    <p>Nadie puede obligarte a proporcionar tus datos personales. </p>
                    <p>RALOY LUBRICANTES, S.A. DE C.V. solo podrá solicitártelos y recibirlos sí en forma voluntaria estas dispuesto a compartirlos. </p>
                    <p>Al compartir tus Datos Personales estas manifestando tu consentimiento respecto al presente Aviso de Privacidad y autorizando a RALOY LUBRICANTES, S.A. DE C.V. a que tus Datos Personales sean recopilados, compilados, usados, transferidos
                        y almacenados conforme a las finalidades y términos descritos en este Aviso, y con apego a las leyes aplicables; lo que implica que entiendes el significado y alcance de sus términos. </p>
                    <p>El Titular podrá revocar su consentimiento en cualquier momento sin que se le atribuyan efectos retroactivos, de conformidad con lo que más adelante se establece. </p>
                    <p>4. ¿Qué medidas de seguridad y control utilizamos para la protección de sus datos personales? RALOY LUBRICANTES, S.A. DE C.V. tiene implementadas medidas de seguridad administrativas, técnicas y físicas para proteger sus datos personales,
                        mismas que igualmente exigimos sean cumplidas por los proveedores de servicios que contratamos, aun tratándose de servicios que prestan las empresas subsidiarias o afiliadas de RALOY LUBRICANTES, S.A. DE C.V. </p>
                    <p>5. ¿Cuál es el área de RALOY LUBRICANTES, S.A. DE C.V. responsable del manejo y administración de los datos personales? El área de atención de datos personales, es la responsable del manejo y la administración de los datos personales,
                        cuyo domicilio es el ubicado en AVENIDA DEL CONVENTO NÚMERO 111, COLONIA PARQUE INDUSTRIAL, MUNICIPIO DE SANTIAGO TIANGUISTENCO, ESTADO DE MEXICO, C.P. 52600. Así mismo puede contactar al área correspondiente a través de los siguientes
                        medios: correo electrónico avisoprivacidad@raloy.com.mx . </p>
                    <p>6. ¿Cómo puede usted ejercer sus derechos ARCO y revocar su consentimiento al tratamiento? Los usuarios titulares de datos personales podrán ejercitar los derechos ARCO (Acceso, cancelación, rectificación y oposición al tratamiento
                        de sus datos personales) o bien, revocar el consentimiento que hayan otorgado a RALOY LUBRICANTES, S.A. DE C.V. para el tratamiento de sus datos personales, enviando directamente su solicitud al área señalada en el punto anterior
                        mediante los diferentes medios señalados o a través del correo electrónico avisoprivacidad@raloy.com.mx dicha solicitud deberá contener por lo menos: (a) Nombre y domicilio u otro medio para comunicarle la respuesta a su solicitud;
                        (b) Los documentos que acrediten la identidad o, en su caso, la representación legal; (c) La descripción clara y precisa de los datos personales respecto de los que se solicita ejercer alguno de los derechos ARCO; y (d) Cualquier
                        otro elemento que facilite la localización de los datos personales. </p>
                    <p>RALOY LUBRICANTES, S.A. DE C.V., vía correo electrónico, le comunicará en un plazo no mayor a veinte (20) días, contados a partir de la fecha en que se recibió la solicitud, la determinación adoptada, a efecto de que, si resulta procedente,
                        se haga efectiva la misma dentro de los quince (15) días siguientes a la fecha en que se comunicó la respuesta. Tratándose de solicitudes de acceso a Datos Personales, el Responsable procederá a poner a disposición del Titular,
                        vía correo electrónico y previa acreditación de la identidad del solicitante o del representante legal, según corresponda, los Datos solicitados. </p>
                    <p>Los plazos antes referidos podrán ser ampliados una sola vez por un periodo igual, siempre y cuando así lo justifiquen las circunstancias del caso. </p>
                    <p>Así mismo, en cualquier momento y por los medios ya referidos, podrá revocar su consentimiento para el tratamiento y aprovechamiento de sus Datos Personales. Cuando el titular solicite la confirmación del cese del tratamiento de sus
                        datos personales, el Responsable responderá expresamente a dicha solicitud por los mismos medios y dentro de los mismos plazos referidos en el antepenúltimo párrafo, si transcurrido el término que señala la Ley, RALOY LUBRICANTES,
                        S.A. DE C.V. no diera respuesta a su solicitud, entonces podrá iniciar el procedimiento de protección de derechos ARCO ante el Instituto Federal de Acceso a la Información y Protección de Datos Personales (INAI). </p>
                    <p>7. Modificaciones al Aviso de Privacidad. Nos reservamos el derecho de cambiar este Aviso de Privacidad en cualquier momento. En caso de que exista algún cambio en este Aviso de Privacidad, se les comunicará a los usuarios publicando
                        una nota visible en nuestro Portal. Por su seguridad, consulte en todo momento que así lo desee el contenido de este aviso de privacidad en nuestro Portal <a href="{{ path('homepage') }}" target="_blank">www.raloylubricantes.mx </a></p>
                </div>
                <a class="btn btn-default accept" href="{{ path('contact') }}">Aceptar Contrato</a>
            </div>
        </div>
    </div>
{% endblock %}